button.btn.btn-danger {
	color: black;
	font-weight: bold;
}

.row {
	background-color: black;
	color: white;	
}

.col-md-3 {
	height:100px;
	background-color: red;
}

@media (min-width: 992px) {
	.col-md-3
}